.error {
  color: rgb(65, 126, 5);
}
body {
  background-image: url("/src/images/dino.jpg");
  object-fit: cover;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}
a {
  margin: 25px;
}
p {
  color: #012124;
  background-color: rgba(240, 248, 255, 0.281);
}
h1 {
  color: black;
  text-shadow: 2px 2px 0 rgba(23, 191, 233, 0.582);
  text-align: right;
  margin-right: 100px;
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 0.336);
}
h2 {
  color: black;
  text-shadow: 2px 2px 0 rgba(23, 191, 233, 0.582);
  text-align: left;
  background-color: rgba(255, 255, 255, 0.336);
}
nav {
  background-color: rgba(20, 79, 119, 0.089);
  height: 100px;
}
nav img {
  width: 115px; /* Ширина логотипа */
  height: auto;
  margin-top: 0;
  float: right;
  margin-right: 10px;
}
.login {
  color: black;
  text-shadow: 2px 2px 0 rgba(23, 191, 233, 0.582);
  background-color: rgba(255, 255, 255, 0.363);
  border: none;
  cursor: pointer; /* курсор в виде руки */
  transition: background-color 0.3s ease; /* плавный переход цвета */
  font-weight: bold;
  font-size: 20px;
  top: 0;
  float: left;
  letter-spacing: 1px;
}
login:hover {
  background-color: #e634a2e7; /* цвет кнопки при наведении */
}
.Card {
  flex-direction: column;
  width: 18vw;
  margin-left: 100px;
  color: rgba(13, 14, 0, 0.911);
  text-shadow: 2px 2px 0 rgba(62, 228, 20, 0.199);
  justify-content: center;
  align-items: center;
  border: 2px solid #2f442c; /* Для наглядности */
  padding: 40px; /* Отступы внутри формы */
  border-radius: 8px; /* Закругленные углы */
  margin-top: 5px;
  background-color: #f9f9f927;
  background: linear-gradient(
    to right,
    rgba(182, 241, 21, 0.692),
    rgba(241, 18, 204, 0.582)
  );
  font-size: 16px;
  line-height: 1;
}
.userImage {
  height: 180px;
  width: 180px;
  margin: 0;
  border-radius: 50%;
  object-fit: cover;
}
.profileForm {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 18vw;
  font-size: 22px;
  line-height: 2;
  background: linear-gradient(
    to right,
    rgba(182, 241, 21, 0.781),
    rgba(241, 18, 204, 0.616)
  );
}
.profilePage {
  display: flex;
  justify-content: space-evenly;
}
.Right {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Middle {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Left {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Left h3 {
  font-size: 2rem;
  background-color: #c1edf044;
}

.btn-create {
  border: 2px solid #040d13;
  border-radius: 10%;
  background-color: #eeb20ee0; /* начальный цвет кнопки */
  color: rgb(34, 2, 2); /* цвет текста */
  padding: 10px 20px; /* отступы */
  border: rgb(35, 68, 2); /* без рамки */
  border-radius: 5px; /* скругленные углы */
  cursor: pointer; /* курсор в виде руки */
  transition: background-color 0.3s ease;
}
.driveForm {
  display: flex;
  flex-direction: column;
  width: 20vw;
  margin-left: 450px;
  color: rgba(13, 14, 0, 0.911);
  text-shadow: 2px 2px 0 rgba(62, 228, 20, 0.199);
  justify-content: left;
  align-items: flex-start;
  border: 2px solid #2f442c; /* Для наглядности */
  padding: 40px; /* Отступы внутри формы */
  border-radius: 10px; /* Закругленные углы */
  margin-top: -100px;
  background-color: #f9f9f9e1;
  background: linear-gradient(
    to right,
    rgba(182, 241, 21, 0.747),
    rgba(241, 18, 204, 0.664)
  );
  font-size: 16px;
  line-height: 1.6;
  font-weight: bold;
  input {
    width: 80%; /* Поле растягивается на всю доступную ширину контейнера */
    padding: 8px;
    font-size: 12px;
  }
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 20vw;
  color: black;
  text-shadow: 2px 2px 0 rgb(243, 143, 13);
  justify-content: center;
  align-items: center;
  border: 2px solid #2f442c; /* Для наглядности */
  padding: 40px; /* Отступы внутри формы */
  border-radius: 8px; /* Закругленные углы */
  background-color: #f9f9f927;
  background: linear-gradient(
    to right,
    rgba(182, 241, 21, 0.685),
    rgba(241, 18, 204, 0.582)
  );
  font-size: 22px;
  line-height: 2;
}
.LoginPage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginForm button {
  margin-top: 10px;
  border-radius: 15%;
  background-color: #eeb20ee0; /* начальный цвет кнопки */
  color: white; /* цвет текста */
  padding: 10px 20px; /* отступы */
  border: none; /* без рамки */
  border-radius: 5px; /* скругленные углы */
  cursor: pointer; /* курсор в виде руки */
  transition: background-color 0.3s ease;
}
.signForm {
  display: flex;
  flex-direction: column;
  width: 20vw;
  color: black;
  text-shadow: 2px 2px 0 rgb(243, 143, 13);
  justify-content: center;
  align-items: center;
  border: 2px solid #2f442c; /* Для наглядности */
  padding: 30px; /* Отступы внутри формы */
  border-radius: 8px; /* Закругленные углы */
  background-color: #f9f9f927;
  background: linear-gradient(
    to right,
    rgba(182, 241, 21, 0.712),
    rgba(241, 18, 204, 0.603)
  );
  font-size: 23px;
  line-height: 1.8;
}
.SignupPage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signForm button {
  margin-top: 10px;
  border-radius: 15%;
  background-color: #eeb20ee0; /* начальный цвет кнопки */
  color: white; /* цвет текста */
  padding: 10px 20px; /* отступы */
  border: none; /* без рамки */
  border-radius: 5px; /* скругленные углы */
  cursor: pointer; /* курсор в виде руки */
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #a30b7d56; /* цвет кнопки при наведении */
}
h2 {
  margin-bottom: -70px;
  top: 70px;
  text-shadow: #a30b7d56;
}
.editForm {
  display: flex;
  flex-direction: column;
  width: 20vw;
  color: black;
  text-shadow: 2px 2px 0 rgb(223, 9, 223);
  justify-content: center;
  align-items: center;
  border: 2px solid #2f442c; /* Для наглядности */
  padding: 30px; /* Отступы внутри формы */
  border-radius: 8px; /* Закругленные углы */
  background-color: #f9f9f927;
  background: linear-gradient(
    to right,
    rgba(183, 241, 21, 0.219),
    rgba(241, 18, 204, 0.116)
  );
  font-size: 23px;
  line-height: 1.8;
}
.editPage {
  display: flex;
  align-items: center;
  justify-content: center;
}
.MyCard {
  display: flex;
  flex-direction: column;
  width: 18vw;
  color: black;
  text-shadow: 2px 2px 0 rgb(238, 15, 163);
  justify-content: center;
  align-items: center;
  border: 1px solid #2f442c; /* Для наглядности */
  padding: 30px; /* Отступы внутри формы */
  border-radius: 6px; /* Закругленные углы */
  background-color: #f9f9f927;
  background: linear-gradient(
    to right,
    rgba(182, 241, 21, 0.705),
    rgba(241, 18, 204, 0.562)
  );
  font-size: 16px;
  line-height: 0.5;
}

.MyCard2 {
  display: flex;
  flex-direction: column;
  width: 18vw;
  color: black;
  text-shadow: 2px 2px 0 rgb(238, 15, 163);
  justify-content: center;
  align-items: center;
  border: 1px solid #2f442c; /* Для наглядности */
  padding: 30px; /* Отступы внутри формы */
  border-radius: 6px; /* Закругленные углы */
  background-color: #f9f9f927;
  background: linear-gradient(
    to right,
    rgba(182, 241, 21, 0.404),
    rgba(241, 18, 204, 0.438)
  );

  font-size: 16px;
  line-height: 0.5;
}

.DetailPage {
  display: flex;
  flex-direction: column;
  width: 18vw;
  margin-left: 400px;
  color: rgba(13, 14, 0, 0.911);
  text-shadow: 2px 2px 0 rgba(62, 228, 20, 0.199);
  justify-content: center;
  align-items: center;
  border: 2px solid #2f442c; /* Для наглядности */
  padding: 20px; /* Отступы внутри формы */
  border-radius: 8px; /* Закругленные углы */
  margin-top: 5px;
  background-color: #ee0c0c27;
  background: linear-gradient(
    to left,
    rgba(182, 241, 21, 0.692),
    rgba(241, 18, 204, 0.582)
  );
  font-size: 17px;
  line-height: 0.5;
}

/* Для очень маленьких экранов (например, телефонов в портретной ориентации) */
@media (max-width: 900px) {
  /* Уменьшаем размер шрифта еще больше */
  h1,
  h2 {
    font-size: 18px;
  }

  .Card,
  .profileForm,
  .driveForm,
  .loginForm,
  .signForm,
  .editForm,
  .MyCard,
  .DetailPage {
    width: 90vw;
  }
  .profilePage {
    flex-direction: column;
    align-items: center;
  }
  .Right,
  .Left,
  .Middle {
    width: 90vw;
    margin: 10px;
  }
  .userImage {
    height: 120px;
    width: 120px;
  }

  /* Уменьшаем размеры кнопок */
  .login,
  .btn-create,
  .loginForm button,
  .signForm button {
    font-size: 14px;
    padding: 6px 12px;
  }

  /* Навигация для маленьких экранов */
  nav {
    height: 30px;
  }

  nav img {
    width: 70px;
  }
}
