.error {
  color: rgb(65, 126, 5);
}
a {
  margin: 25px;
}
h1 {
  color: black;
  text-shadow: 2px 2px 0 rgba(23, 191, 233, 0.582);
  text-align: right;
  margin-right: 100px;
  margin-top: 0px;
}
nav {
  background-color: rgba(2, 56, 38, 0.075);
  height: 45px;
}
.Card {
  flex-direction: column;
  width: 18vw;
  margin-left: 100px;
  color: rgba(13, 14, 0, 0.911);
  text-shadow: 2px 2px 0 rgba(62, 228, 20, 0.199);
  justify-content: center;
  align-items: center;
  border: 2px solid #2f442c; /* Для наглядности */
  padding: 40px; /* Отступы внутри формы */
  border-radius: 8px; /* Закругленные углы */
  margin-top: 5px;
  background-color: #f9f9f927;
  background: linear-gradient(
    to right,
    rgba(183, 241, 21, 0.219),
    rgba(241, 18, 204, 0.116)
  );
  font-size: 16px;
  line-height: 1.6;
}
.userImage {
  height: 180px;
  width: 180px;
  margin-left: 450px;
  border-radius: 50%;
  object-fit: cover;
}
.profileForm {
  display: flex;
  flex-direction: column;
  width: 18vw;
  margin-left: 450px;
  margin-top: 70px;
  font-size: 22px;
  line-height: 2;
}
.btn-create {
  display: flex;
  flex-direction: column;
  margin-left: 450px;
}
.driveForm {
  display: flex;
  flex-direction: column;
  color: black;
  text-shadow: 2px 2px 0 rgba(23, 191, 233, 0.582);
  width: 25vw;
  margin-left: 450px;
  font-size: 22px;
  line-height: 1.4;
}
.loginForm {
  display: flex;
  flex-direction: column;
  width: 20vw;
  color: black;
  text-shadow: 2px 2px 0 rgb(243, 143, 13);
  justify-content: center;
  align-items: center;
  border: 2px solid #2f442c; /* Для наглядности */
  padding: 40px; /* Отступы внутри формы */
  border-radius: 8px; /* Закругленные углы */
  margin-left: 450px;
  margin-top: 105px;
  background-color: #f9f9f927;
  background: linear-gradient(
    to right,
    rgba(183, 241, 21, 0.219),
    rgba(241, 18, 204, 0.116)
  );
  font-size: 22px;
  line-height: 2;
}
.signForm {
  display: flex;
  flex-direction: column;
  width: 20vw;
  color: black;
  text-shadow: 2px 2px 0 rgb(243, 143, 13);
  justify-content: center;
  align-items: center;
  border: 2px solid #2f442c; /* Для наглядности */
  padding: 30px; /* Отступы внутри формы */
  border-radius: 8px; /* Закругленные углы */
  margin-left: 450px;
  margin-top: 105px;
  background-color: #f9f9f927;
  background: linear-gradient(
    to right,
    rgba(183, 241, 21, 0.219),
    rgba(241, 18, 204, 0.116)
  );
  font-size: 23px;
  line-height: 1.8;
}
.editForm {
  display: flex;
  flex-direction: column;
  width: 20vw;
  color: black;
  text-shadow: 2px 2px 0 rgb(243, 143, 13);
  justify-content: center;
  align-items: center;
  border: 2px solid #2f442c; /* Для наглядности */
  padding: 30px; /* Отступы внутри формы */
  border-radius: 8px; /* Закругленные углы */
  margin-left: 450px;
  margin-top: 105px;
  background-color: #f9f9f927;
  background: linear-gradient(
    to right,
    rgba(183, 241, 21, 0.219),
    rgba(241, 18, 204, 0.116)
  );
  font-size: 23px;
  line-height: 1.8;
}
